html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.my-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.my-row {
    height: 100%;
}
.user-icon{
    padding: 10px;
}
.button{
    background-color: #e3b23c;
    color: white;
    margin: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
/*
.my-col {
    border: 1px dashed black;
    

}*/
.sidebar{
    background-color: #423e37;
    color: white;
    text-align: left;
    display: block;
    padding: 20px;
    align-items: center;
}
.middle-row{
    background-color: #f4f3ef;
    padding: 20px;
}
.email-search{
    border-radius: 5px;
    min-width: fit-content;
    margin: 20px 20px 20px 20px;
    width: 100%;
    color:rgba(0, 0, 0, 0.5);
}
.email{
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    min-width: fit-content;
    padding: 10px;
}
.email-selected{
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.664);
    margin: 10px 0px 10px 0px;
    min-width: fit-content;
    padding: 10px;
}
.time{
    text-align: right;
}
.preview-text{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
}

.email-body{
    background-color: #ffffff;
    padding: 20px;
}

.to-from{
    color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.email-title{
    margin: 20px;
}
.email-text{
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.reply-box{
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:end;
    width: 100%;
    margin: 20px 20px 20px 20px;
    
}